$cardWidth: 200px;
$arrowsWidth: 60px;
$containerHeight: 400px;
$arrowsBackground: #808080;
$iconBackground: #2368a9;
$titleColor: #344f64;
$subtitleColor: #b3b3b3;
.carousel {
	height: auto;
	padding: 15px;
	&_header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-bottom: 10px;
		&-icon--container {
			display: flex;
			align-items: center;
			flex-basis: 5%;
			background-color: $iconBackground;
			border-radius: 5px;
			padding: 5px;
			max-width: 50px;
			max-height: 50px;
			.material-icons {
				margin: auto;
				color: white;
			}
		}
		&-text {
			margin-left: 10px;
		}
		&--title {
			color: $titleColor;
			font-size: 1.5rem;
		}
		&--subtitle {
			color: subtitleColor;
			font-size: 1rem;
		}
	}
	&_container {
		overflow: hidden;
		height: $containerHeight;
		position: relative;
	}
	&_slider {
		display: inline-flex;
		//flex-wrap: wrap;
		position: relative;
		align-items: stretch;
		height: 100%;
		&.unwrap {
			flex-wrap: nowrap;
		}
	}
	&_arrows {
		height: 100%;
		width: 100%;
		top: 0;
		position: absolute;
	}
	&_button {
		width: $arrowsWidth;
		height: 100%;
		opacity: 0.1;
		background-color: $arrowsBackground;
		border: none;
		position: absolute;
		&:focus {
			border: none;
		}
		&:hover {
			opacity: 0.8;
			transition: opacity 0.5s;
			cursor: pointer;
		}
		.material-icons {
			color: white;
			font-size: 3rem;
		}
	}
}
