@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$graybackground: #eeeeee;

body {
	background-color: $graybackground;
	font-family: "Roboto", sans-serif;
}
.p-rel {
	position: relative;
}
.p-abs {
	position: absolute;
}
.r-0 {
	right: 0;
}
.l-0 {
	left: 0;
}
.hidden {
	visibility: hidden;
}
.disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}
